#card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: var(--accent-bg);
    border-radius: 10px;
    max-width: 1000px;
    height: auto;
    padding: 56px;
}

#card-left {
    display: flex;
    flex-direction: column;
}

#card-right {
    display: flex;
    flex-direction: column;
}

#card h3 {
    text-align: center;
}

#card p {
    margin-top: 0;
    text-align: center;
}

.lore-small {
    font-size: 0.8rem;
}