#card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: var(--accent-bg);
    border-radius: 10px;
    max-width: 1000px;
    height: auto;
    padding: 56px;
    margin: 10px;

}

#card-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-right {
    display: flex;
    flex-direction: column;
}

#card h3 {
    text-align: center;
}

#card p {
    margin-top: 0;
    text-align: center;
}

#hero-name {
    margin: 10px !important;
}

.lore-small {
    font-size: 0.8rem;
}

.dynamic-hero-color {
    color: var(--accent);
}

@media (max-width: 1000px) {
    #card {
        flex-direction: column;
        gap: 0;
        padding: 30px;
    }

    #hero-image {
        width: 80%;
    }
}

@media (max-width: 500px) {
    #hero-image {
        width: 60%;
    }
}