nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    height: auto;
    width: fit-content;
    border: 2px solid var(--accent);
    border-radius: 10px;
}

.navbar-button-active {
    background-color: var(--accent);
    border-radius: 10px;
    transition-duration: 200ms;
    color: var(--bg);
    z-index: -1;
}

h2.button {
    font-size: 18px;
    padding: 14px 20px;
    margin: 0;
    cursor: pointer;
}

h2.button.active {
    border-radius: 10px;
    animation: click-animation 200ms ease;
}

#search-button {
    border-radius: 10px;
    transition-duration: 200ms;
}

#search-button:hover {
    background-color: var(--accent-hover-bg);
    scale: 1.03;
    border-radius: 10px;
    transition-duration: 200ms;
}

.button {
    transition-duration: 200ms;
    border-radius: 10px;
}

.button:hover:not(.navbar-button-active) .button {
    background-color: var(--accent-hover-bg);
    scale: 1.03;
    border-radius: 10px;
    transition-duration: 200ms;
    z-index: 1;
}

@media (max-width: 570px) {
    .navbar {
        flex-direction: column;
    }
}

@media (prefers-color-scheme: light) {
    .navbar-button-active {
        color: var(--text);
    }
}