:root {
  --text: #e7e7e7;
  --text-bg: rgb(231 231 231 / 0.3);
  --bg: #181818;
  --border: #343434;
  --error: #c62a18;
  --error-bg: #6c3c3c;

  --accent: #f2c94c;
  --accent-bg: rgb(108 91 47);
  --accent-border: #c9a73c;

  --accent-hover-bg: rgb(172 142 38 / 0.3);

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  /*letter-spacing: 0.18px;*/
  /*color-scheme: light dark;*/
  /*color: var(--text);*/
  /*background: var(--bg);*/
  /*font-synthesis: none;*/
  /*text-rendering: optimizeLegibility;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
  /*TODO Light mode*/
  }
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 20px 10px;
}

body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text);
}

p {
  line-height: 1.2;
}
