:root {
    --text: #e7e7e7;
    --text-bg: rgb(231 231 231 / 0.3);
    --bg: #181818;
    --border: #343434;
    --error: #c62a18;
    --error-bg: #6c3c3c;

    --accent: #f2c94c;
    --accent-bg: rgb(108 91 47);
    --accent-border: #c9a73c;

    --accent-hover-bg: rgb(172 142 38 / 0.3);
    --accent-hover-card: rgb(172 142 38);

    --victory: rgb(140, 255, 140);
    --defeat: rgb(255, 120, 120);


    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    font: 18px/145% var(--sans);

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

h2 {
    margin: 10px;
}

body {
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text);
}

p {
    line-height: 1.2;
}


.victory {
    color: var(--victory);
}

.defeat {
    color: var(--defeat);
}


@media (prefers-color-scheme: light) {
    :root {
        --text: #181818;
        --text-bg: rgb(25 25 25 / 0.3);
        --bg: #e7e7e7;
        --border: #bbbbbb;
        --error: #c62a18;
        --error-bg: #d99090;

        --accent: #fbc72b;
        --accent-bg: rgb(255 215 94 / 0.68);
        --accent-border: #c9a73c;

        --accent-hover-bg: var(--accent-bg);;
        --accent-hover-card: var(--accent);

        --victory: rgb(0 178 0);
        --defeat: rgb(201 0 0);
    }

    #search-button {
        filter: invert(1);
    }

    #search-button:hover {
        filter: none;
    }
}
